name: FPM

on:
  push:
    branches: [master]
    tags:
      - "v*"
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [7.3.28, 7.4.20, 8.0.7]
    steps:
      - uses: actions/checkout@v2
      - name: Prepare
        id: prep
        run: |
          DOCKER_IMAGE=ghcr.io/sitkoru/php
          VERSION=${{ matrix.version }}
          echo VERSION=${VERSION}
          MAJOR=`echo $VERSION | cut -d. -f1`
          echo MAJOR=${MAJOR}
          MINOR=`echo $VERSION | cut -d. -f2`
          echo MINOR=${MINOR}
          REF=${GITHUB_REF#refs/tags/}
          if [[ $REF =~ ^v.*$ ]]; then
            TAGS="${DOCKER_IMAGE}:${VERSION},${DOCKER_IMAGE}:${MAJOR}.${MINOR}"
            TAGS_DEV="${DOCKER_IMAGE}:${VERSION}-dev,${DOCKER_IMAGE}:${MAJOR}.${MINOR}-dev"
            TAGS_SSH="${DOCKER_IMAGE}:${VERSION}-ssh,${DOCKER_IMAGE}:${MAJOR}.${MINOR}-ssh"
            TAGS_NGINX="${DOCKER_IMAGE}:${VERSION}-nginx,${DOCKER_IMAGE}:${MAJOR}.${MINOR}-nginx"
          else
            TAGS="${DOCKER_IMAGE}:${VERSION}-${{ github.run_id }}"
            TAGS_DEV="${DOCKER_IMAGE}:${VERSION}-${{ github.run_id }}-dev"
            TAGS_SSH="${DOCKER_IMAGE}:${VERSION}-${{ github.run_id }}-ssh"
            TAGS_NGINX="${DOCKER_IMAGE}:${VERSION}-${{ github.run_id }}-nginx"
          fi
          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=tags_dev::${TAGS_DEV}
          echo ::set-output name=tags_ssh::${TAGS_SSH}
          echo ::set-output name=tags_nginx::${TAGS_NGINX}
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: image=moby/buildkit:master
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Build fpm image
        uses: docker/build-push-action@v2.4.0
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ steps.prep.outputs.tags }}
          push: true
          build-args: |
            PHP_VERSION=${{ matrix.version }}
          target: fpm
          labels: |
            org.opencontainers.image.title=${{ github.event.repository.name }}
            org.opencontainers.image.description=${{ github.event.repository.description }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.source=${{ github.event.repository.clone_url }}
            org.opencontainers.image.version=${{ matrix.version }}
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.licenses=${{ github.event.repository.license.spdx_id }}
      - name: Build dev image
        uses: docker/build-push-action@v2.4.0
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ steps.prep.outputs.tags_dev }}
          push: true
          build-args: |
            PHP_VERSION=${{ matrix.version }}
          target: dev
          labels: |
            org.opencontainers.image.title=${{ github.event.repository.name }}
            org.opencontainers.image.description=${{ github.event.repository.description }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.source=${{ github.event.repository.clone_url }}
            org.opencontainers.image.version=${{ matrix.version }}
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.licenses=${{ github.event.repository.license.spdx_id }}
      - name: Build ssh image
        uses: docker/build-push-action@v2.4.0
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ steps.prep.outputs.tags_ssh }}
          push: true
          build-args: |
            PHP_VERSION=${{ matrix.version }}
          target: ssh
          labels: |
            org.opencontainers.image.title=${{ github.event.repository.name }}
            org.opencontainers.image.description=${{ github.event.repository.description }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.source=${{ github.event.repository.clone_url }}
            org.opencontainers.image.version=${{ matrix.version }}
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.licenses=${{ github.event.repository.license.spdx_id }}
      - name: Build nginx image
        uses: docker/build-push-action@v2.4.0
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ steps.prep.outputs.tags_nginx }}
          push: true
          build-args: |
            PHP_VERSION=${{ matrix.version }}
          target: with-nginx
          labels: |
            org.opencontainers.image.title=${{ github.event.repository.name }}
            org.opencontainers.image.description=${{ github.event.repository.description }}
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.source=${{ github.event.repository.clone_url }}
            org.opencontainers.image.version=${{ matrix.version }}
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.licenses=${{ github.event.repository.license.spdx_id }}
